
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Peliculsa App</h1>
    <p class="lead">Aplicación de películas</p>
  </div>
</div>



      
    <app-galeria [films]="theaterFilms | slice:0:6" 
                  title="En Cines"></app-galeria>    

    <app-galeria [films]="popularFilms | slice:0:6"
                title="Populares" ></app-galeria> 
 
    <app-galeria [films]="popularKidsFilms | slice:0:6"
                title="Populares para niños" ></app-galeria>

  
